<script src='app/assets/js/effet.js'></script>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

<section class="text">
  <h1 class="supertitle"><span class="fontawesome-star star"></span> <span>Camel Movies</span> <span class="fontawesome-star star"></span></h1>
  <h3 class="supertitle">What else ?</h3>
</section>

<section class="intro" >
  <div class="intro-block" style="align-items: baseline;">
    <div class="full">
      <ul id="elements">
        <li ng-repeat="movie in popular">
          <a ng-click="moveToMovie(movie.id)">
            <div class="content">
              <img ng-src="{{movie.poster_path}}">
              <h1 class="full-title">{{movie.original_title | uppercase}}</h1>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="search-wrapper cf">

      <form>
        <div id="movies" class="search-box active">
          <angucomplete-alt id="movies"
          placeholder="Quel est le film que vous recherchez ?"
          pause="100"
          auto-match=true
          remote-url="http://api.themoviedb.org/3/search/movie?api_key=16f6aa27277494afd13f5497d6ceba9e&query="
          remote-url-data-field="results"
          title-field="original_title,vote,year"
          description-field="overview"
          image-field="poster_path"
          input-class="search-keyword"
          match-class="highlight"
          selected-object="selectedMovie"
          objectSelectedCallback="selectedMovie"
          remote-url-response-formatter="changeMoviesResult" />
          <button class="search-button" type="submit"></button>
        </div>
        <div id="actors" class="search-box">
          <angucomplete-alt id="movies"
          placeholder="Quel est l'acteur que vous recherchez ?"
          pause="100"
          auto-match=true
          remote-url="http://api.themoviedb.org/3/search/person?api_key=16f6aa27277494afd13f5497d6ceba9e&query="
          remote-url-data-field="results"
          title-field="name"
          image-field="profile_path"
          input-class="search-keyword"
          match-class="highlight"
          selected-object="selectedActor"
          objectSelectedCallback="selectedActor"
          remote-url-response-formatter="changeActorsResult" />
          <button class="search-button" type="submit"></button>
        </div>
        <div id="switch">
          <div class="diamond"></div>
          <div class="choice on">FILMS</div>
          <div class="choice">ACTEURS</div>
        </div>
      </form>
    </div>

    <div class="best-of">

    <style>
    .best-of{
      position: absolute;
      width: 100%;
      height: 200px;
      left: 0;
      bottom: 245px;
      clear: both;
      display: block;
      text-align: center;
      margin: auto;
    }

    .reward{
      text-align:center;
      width: 200px;
      height: 200px;
      display: inline-block;
      margin: auto;
      margin: 1em;
      transition: all 250ms ease;
    }

    .reward:hover{
      cursor: pointer;
      background-color: rgba(0,0,0,0.1);
      z-index: 99;
      transition: all 250ms ease;
    }

    .reward-img {
      margin: auto;
      margin-top: 10px;
      width: 100px;
      height: 100px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.4), inset 0 1px 2px rgba(255,255,255,0.4);
      background:  no-repeat;
      background-size: cover;
      background-position: 0 -25px;
      border-radius:50%;
      background-color: #333;
    }

    .reward-text{
      margin-top: 25px;
    }

    form {
      margin: 0 110px;
    }

    @-webkit-keyframes float{
        from {-webkit-transform:translateY(-50%);}
        65% {-webkit-transform:translateY(-56%);}
        to {-webkit-transform: translateY(-50%);    }
    }
    </style>

    <div id="top-actor" class="reward" ng-if="topActor" ng-click="go('/actor/'+topActor.id)">
      <span>Top Acteur/Actrice </span>

      <div class="reward-img" style="background-image:url(https://image.tmdb.org/t/p/w92{{topActor.image}})"></div>
      <div class="reward-text"><b>{{topActor.name}} </b><br>{{topActor.score}} vues</div>
    </div>

    <div class="reward" ng-if="topMovie" ng-click="go('/movie/'+topMovie.id)">
      <span>Top film</span>
      <div class="reward-img" style="background-image:url(https://image.tmdb.org/t/p/w92{{topMovie.image}})"></div>
      <div class="reward-text"> {{topMovie.name}}<br>{{topMovie.score}} vues</div>
    </div>
    </div>
  </div>
</section>
